{% extends "Notebook/base.html" %}
{% load static %}
{% block title_notebook %}待办{% endblock title_notebook%}

{% block content_notebook %}
<!-- 顶栏 -->
{% include 'Notebook/todo/headbar.html' %}

<!-- 到期提醒 -->
{% if expired_alerts %}
    <div class="container mt-3">
        <h5 class="text-center">
            <i class="bi bi-tools text-warning"></i>
            已到期提醒
        </h5>
        施工中……
    </div>
{% endif %}

<!-- 未完成笔记 -->
<div class="container mt-3">
    <h5 class="text-center">
        <i class="bi bi-tools text-{% if unfinished_notes_groupby_dir %}warning{% else %}success{% endif %}"></i>
        未完成笔记
    </h5>
    {% if unfinished_notes_groupby_dir %}
        {% include 'Notebook/todo/unfinished_notes.html' %}
    {% else %}
        <div class="alert alert-success" role="alert">
            <span>所有笔记已完成！</span>
        </div>
    {% endif %}
</div>

<!-- 底部tab bar -->
{% include 'Notebook/tabbar.html' with highlight_tab=2 %}

{% endblock content_notebook %}