<!-- 顶部工具栏 -->
<div class="sticky-top bg-light border-bottom">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-light ">
                <a href="{% url 'RoddyCafe_lobby' %}" class="col-2 text-start ps-2">
                    <i class="text-success bi bi-arrow-left-short" style="font-size: 1.5rem;"></i>
                    <i class="text-success bi bi-shop" style="font-size: 1.5rem;"></i>
                </a>
                <span class="col-8 h4 text-center" style="margin: 0px;">
                    主页
                </span>
                <span class="col-2" style="font-size: 1.5rem;"></span>
            </nav>
        </div>
    </div>
</div>
