{% extends "Notebook/base.html" %}
{% load static %}
{% block title_notebook %}主页{% endblock title_notebook%}

{% block content_notebook %}

<!-- 顶栏 -->
{% include 'Notebook/homepage/headbar.html' %}

<!-- TODO：笔记搜索 -->
<div class="container" id="content_search">
    {% include 'Notebook/note/search/search.html' %}
</div>

<!-- TODO：快捷方式（最多12个） -->
<div class="container" id="content_shortcut">
    <hr class="text-success mt-3">
    <h5 class="text-center mt-3">
        <i class="bi bi-stars text-success"></i>
        快捷方式
    </h5>
    <small class="mt-3 text-secondary text-center ms-2">施工中……</small>
</div>

<!-- 总目录树 -->
<div class="container" id="directory_all">
    <hr class="text-success mt-3">
    <h5 class="text-center mt-3">
        <i class="bi bi-journals text-success"></i>
        所有目录
    </h5>
    <div class="row">
        {% include 'Notebook/directory/tree/tree.html' %}
    </div>
</div>

<!-- 目录树->添加目录 -->
{% include 'Notebook/directory/tree/new_directory.html' %}

<!-- 底部tab bar -->
{% include 'Notebook/tabbar.html' with highlight_tab=1 %}

{% endblock content_notebook %}

{% block js_notebook %}
<script src="{% static '/Notebook/js/directory/tree.js' %}"></script>
{% endblock js_notebook %}