{% if dir.first_child %}
    <div class="list-group-item d-flex justify-content-between">
        <span class="col-11"><i class="bi bi-journal-text "></i> {{ dir.name }} </span>
        <a href="#choiceGroupOfDir{{dir.id}}" data-bs-toggle="collapse" class="text-body bi bi-caret-down-fill"></a>
    </div>
    <ul id="choiceGroupOfDir{{dir.id}}" class="ps-3 list-group list-group-flush collapse">
        <a id="insertDir_{{dir.id}}_{{dir.first_child.id}}" href="#" class="list-group-item list-group-item-action d-flex justify-content-start" style="height: 18px;">
            <i class="bi bi-plus align-self-center" style="font-size: 0.75rem;"><span class="invisible align-self-center"> 新目录</span></i>
        </a>
        {% include 'Notebook/directory/tree/new_directory_tree_item.html' with dir=dir.first_child %}
    </ul>
{% else %}
    <div class="list-group-item d-flex justify-content-between">
        <span class="col-11"><i class="bi bi-journal-text "></i> {{ dir.name }} </span>
        <a href="#choiceGroupOfDir{{dir.id}}" data-bs-toggle="collapse" class="text-body bi bi-caret-down-fill"></a>
    </div>
    <ul id="choiceGroupOfDir{{dir.id}}" class="ps-3 list-group list-group-flush collapse">
        <a id="insertDir_{{dir.id}}__left" href="#" class="list-group-item list-group-item-action d-flex justify-content-start" style="height: 18px;">
            <i class="bi bi-plus align-self-center" style="font-size: 0.75rem;"><span class="invisible align-self-center"> 子目录</span></i>
        </a>
    </ul>
{% endif %}
{% if dir.next_brother %}
    <a id="insertDir_{{dir.id}}_{{dir.next_brother.id}}" href="#" class="list-group-item list-group-item-action d-flex justify-content-start" style="height: 18px;">
        <i class="bi bi-plus align-self-center" style="font-size: 0.75rem;"><span class="invisible align-self-center"> 新目录</span></i>
    </a>
    {% include 'Notebook/directory/tree/new_directory_tree_item.html' with dir=dir.next_brother %}
{% else %}
    <a id="insertDir_{{dir.id}}__right" href="#" class="list-group-item list-group-item-action d-flex justify-content-start" style="height: 18px;">
        <i class="bi bi-plus align-self-center" style="font-size: 0.75rem;"><span class="invisible align-self-center"> 新目录</span></i>
    </a>
{% endif %}