<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,,user-scalable=no">

    <title>笔记编辑 —— Roy's Cafe</title>
    <!--css导入区-->
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css/' %}">
    <link rel="stylesheet" href="{% static '/wangeditor/wangeditor.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-icons/bootstrap-icons.css' %}">
    <style>
        .w-e-text-container{height: 80% !important;}
    </style>
    <!--/css导入区-->
</head>
<body>
    <div>
        <div id="note_toolbar" class="btn-group btn-block">
            <button type="button" class="btn btn-outline-secondary">
                <i class="bi bi-backspace-fill"></i> 返回
            </button>
            <button type="button" class="btn btn-outline-success">
                <i class="bi bi-save2-fill"></i> 保存
            </button>
            <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-layers-fill"></i> 模版
            </button>
            <button type="button" class="btn btn-outline-info">
                <i class="bi bi-alarm-fill"></i> 提醒
            </button>
            <button type="button" class="btn btn-outline-danger">
                <i class="bi bi-trash3-fill"></i> 删除
            </button>
        </div>
        <div id="toolbar_container" class="border-bottom"></div>
    </div>
    <div>
        <div id="editor_container"></div>
    </div>
    <i class="bi bi-arrow-up-circle-fill" style="position: fixed;bottom: 5%;right: 5%;font-size: 2rem; color: cornflowerblue;"></i>
    <textarea id="content_storage" class="d-none"></textarea>
    <!--JS导入区-->
    <script src="{% static '/jquery/jquery.min.js/' %}"></script>
    <script src="{% static '/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static '/wangeditor/wangeditor.min.js' %}"></script>
    <script>
        const { createEditor, createToolbar } = window.wangEditor
        const editorConfig = {}
        editorConfig.placeholder = '请输内容'
        editorConfig.autoFocus = true
        editorConfig.scroll =false
        editorConfig.onChange = (editor) => {
            // 当编辑器选区、内容变化时，即触发
            const content = editor.children
            const html = editor.getHtml()
            document.getElementById('content_storage').value = html
        }
        // 创建编辑器
        const editor = createEditor({
            selector: '#editor_container',
            config: editorConfig,
            mode: 'default',
            html: '{{ note.note_content|safe }}'
        })
        // 创建工具栏
        const toolbar = createToolbar({
            editor,
            selector: '#toolbar_container',
            mode: 'default'
        })
    </script>
    <!--/JS导入区-->
</body>
</html>