{% extends "base.html" %}
{% load static %}
{% block title %}退出登录{% endblock %}

{% block block_css %}
<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/bootstrap-icons/bootstrap-icons.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row text-center">
        <h2>拾心咖啡馆<small> v0.1</small></h2>
    </div>
    <div class="row">
        <div class="alert alert-success" role="alert">
            已退出，<a href="{% url 'RoddyCafe_index' %}">点击返回主页</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static '/jquery/jquery.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}