<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,,user-scalable=no">
    <title>目录 | Roy's Cafe</title>
    <!--css导入区-->
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css/' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-icons/bootstrap-icons.css' %}">
    <style>
        .list-group-item-action a{color: rgb(25, 27, 30);text-decoration: none;}
        .list-group-item-action i{color: rgb(28, 119, 66);}
        .list-group-item-action:focus, .list-group-item-action:hover{color:white;background-color: rgb(0, 124, 77);}
        .list-group-item-action:focus, .list-group-item-action:hover a{color:white;}
        .list-group-item-action:focus, .list-group-item-action:hover i{color:white;}
    </style>
    <!--/css导入区-->
</head>
<body>
    <!--正文区-->



    <div class="sticky-top bg-light border-bottom">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-light ">
                    <a href="{% url 'Notebook_index' %}" class="col-1 text-center">
                        <i class="text-success bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                    </a>
                    <span class="col-10 h5 text-center" style="margin: 0px;">目录</span>
                    <span class="col-1"></span>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <ul class="list-group list-group-flush">
                    {% if root_dir.directory_first_child %}
                        <a href="#" class="list-group-item list-group-item-action" style="border-color: rgb(0, 124, 77);">
                            <i class="bi bi-box-seam"></i> 所有笔记
                        </a>
                        {% with dir=root_dir.directory_first_child %}
                            {% include 'Notebook/directory/allDirectories_createTree.html' with dir=dir %}
                        {% endwith%}
                        <a href="#" class="list-group-item list-group-item-action" style="border-color: rgb(0, 124, 77);">
                            <i class="bi bi-files"></i> 未分类
                        </a>
                        <a href="#" class="list-group-item list-group-item-action" style="border-color: rgb(0, 124, 77);">
                            <i class="bi bi-trash"></i> 最近删除
                        </a>
                    {% else %}
                        暂无目录，<a href="#">点击添加</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="fixed-bottom border-top">
        <nav class="navbar navbar-light bg-light">
            <a href="#" class="text-success text-center col-2 bi bi-journal-plus" style="font-size:1.5rem;"></a>
            <small class="col-8 text-center">这里写点啥？没想好</small>
            <a href="{% url 'Notebook_note_new' root_dir.directory_next_brother.directory_id %}" class="text-success bi bi-pencil-square text-center col-2" style="font-size: 1.5rem;"></a>
        </nav>
    </div>
    


    <!--/正文区-->
    
    <!--JS导入区-->
    <script src="{% static '/jquery/jquery.min.js/' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--/JS导入区-->
</body>
</html>