{% if dir.directory_first_child %}
    <div class="list-group-item list-group-item-action d-flex justify-content-between" style="border-color: rgb(0, 124, 77);">
        <a href="{% url 'Notebook_directory_notelist' dir.directory_id %}" class="col-11">
            {{ dir.directory_name }}
        </a>
        <a href="#groupOfDir{{dir.directory_id}}" data-bs-toggle="collapse" class=" bi bi-caret-down-fill"></a>
    </div>
    <ul id="groupOfDir{{dir.directory_id}}" class="ps-3 list-group list-group-flush collapse">
        {% include 'Notebook/directory/allDirectories_createTree.html' with dir=dir.directory_first_child %}
    </ul>
{% else %}
    <div class="list-group-item list-group-item-action d-flex justify-content-between" style="border-color: rgb(0, 124, 77);">
        <a href="{% url 'Notebook_directory_notelist' dir.directory_id %}" class="col-12">
            {{ dir.directory_name }}
        </a>
    </div>
    
{% endif %}
{% if dir.directory_next_brother %}
    {% include 'Notebook/directory/allDirectories_createTree.html' with dir=dir.directory_next_brother %}
{% endif %}