<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,,user-scalable=no">
    <title>目录 | Roy's Cafe</title>
    <!--css导入区-->
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css/' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-icons/bootstrap-icons.css' %}">
    <style>
        .list-group-item-action a{color: rgb(25, 27, 30);text-decoration: none;}
        .list-group-item-action i{color: rgb(28, 119, 66);}
        .list-group-item-action:focus, .list-group-item-action:hover{color:white;background-color: rgb(0, 124, 77);}
        .list-group-item-action:focus, .list-group-item-action:hover a{color:white;}
        .list-group-item-action:focus, .list-group-item-action:hover i{color:white;}
        .choosed-postion{color:white;background-color: rgb(0, 124, 77);}
        .choosed-postion i{color:white;background-color: rgb(0, 124, 77);}
    </style>
    <!--/css导入区-->
</head>
<body>
    <!--正文区-->



    <div class="sticky-top bg-light border-bottom">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-light ">
                    <a href="{% url 'Notebook_index' %}" class="col-1 text-center">
                        <i class="text-success bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                    </a>
                    <span class="col-10 h5 text-center" style="margin: 0px;">目录</span>
                    <span class="col-1 text-center">
                        <a class="text-success bi bi-question-circle" style="font-size: 1.5rem;" data-bs-toggle="offcanvas" href="#info"></a>
                    </span>
                </nav>
            </div>
        </div>
    </div>
    {% if root_dir.directory_first_child %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <ul class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action" style="border-color: rgb(0, 124, 77);">
                            <i class="bi bi-box-seam"></i> 所有笔记
                        </a>
                        {% with dir=root_dir.directory_first_child %}
                            {% include 'Notebook/directory/allDirectories_createTree.html' with dir=dir %}
                        {% endwith%}
                        <a href="#" class="list-group-item list-group-item-action" style="border-color: rgb(0, 124, 77);">
                            <i class="bi bi-files"></i> 未分类
                        </a>
                        <a href="#" class="list-group-item list-group-item-action" style="border-color: rgb(0, 124, 77);">
                            <i class="bi bi-trash"></i> 最近删除
                        </a>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
        <div class="alert alert-success" role="alert">暂无目录，<a href="#" data-bs-toggle="modal" data-bs-target="#modal_new_directory">点击添加</a></div>
    {% endif %}

    <div class="fixed-bottom border-top">
        <nav class="navbar navbar-light bg-light">
            <a href="#" class="text-success text-center col-2 bi bi-journal-plus" data-bs-toggle="modal" data-bs-target="#modal_new_directory" style="font-size:1.5rem;"></a>
            <small class="col-8 text-center">这里写点啥？没想好</small>
            <a href="{% url 'Notebook_note_new' root_dir.directory_id %}" class="text-success bi bi-pencil-square text-center col-2" style="font-size: 1.5rem;"></a>
        </nav>
    </div>
    
    <div class="modal fade" id="modal_new_directory" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增目录</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form id="form_new_directory">
                        {% csrf_token %}
                        <div class="col mb-3">
                            <label class="form-label"><span class="text-danger">*</span> 目录名</label>
                            <input id="form_new_directory_name" class="form-control" name="directory_name" type="text" maxlength="20" required>
                            <div class="invalid-feedback">
                                请输入目录名
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label">目录描述 <i class="text-success bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="如《英文》目录的描述可以是：包含语法、单词、习惯用语等内容"></i></label>
                            <input id="form_new_directory_discription" class="form-control" name="directory_discription" type="text" maxlength="200">
                        </div>
                        {% if root_dir.directory_first_child %}
                            <label class="form-label">
                                <span class="text-danger">*</span> 新目录位置（点击<i class="bi bi-journal-plus align-self-center text-success"></i>确定插入点）：<span id="isFormFilled" class="text-danger">未选择</span></label>
                            <div class="container mb-3">
                                <div class="row mt-3">
                                    <ul class="list-group list-group-flush">
                                        {% with dir=root_dir.directory_first_child %}
                                            <a id="insertDir_{{root_dir.directory_id}}_{{dir.directory_id}}" href="#" class="list-group-item list-group-item-action d-flex justify-content-start" style="height: 20px;">
                                                <i class="bi bi-journal-plus align-self-center" style="font-size: 0.75rem;"><span class="invisible align-self-center"> 在此处添加新目录</span></i>
                                            </a>                                            
                                            {% include 'Notebook/directory/allDirectories_createTreeWithOption.html' with dir=dir %}
                                        {% endwith%}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <input id="form_new_directory_position" class="invisible" name="directory_position" type="text" required>
                        <div class="col mb-3">
                            <button class="btn btn-danger" method ="post" type="submit" href="#">确认</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-bottom" data-bs-focus="false" style="height: 50%;" tabindex="-1" id="info">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title container" id="toolbarBottomLabel">使用提示</h3>
        </div>
        <div class="offcanvas-body">
            <div class="container">
                <h5>关于新建笔记：</h5>
                <p>在本页面新建笔记时，笔记会默认收纳至《未分类》目录。以后再更新手动选目录的功能，咕。</p>
                <p>或者，你可以直接进入想要的目录下，再新建笔记。这时，笔记会直接分配到该目录下。</p>
                <h5>为什么新建目录的界面这么奇怪：</h5>
                <p>因为做起来简单。滑块列表可以做，但以我的智力水平要很久，别人的也不好用不想用，所以，摸。</p>
            </div>
        </div>
    </div>


    <!--/正文区-->
    
    <!--JS导入区-->
    <script src="{% static '/jquery/jquery.min.js/' %}"></script>
    <script src="{% static '/bootstrap/js/popover.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        var url_api_directory_new_save = "{% url 'api_Notebook_directory_new_save' %}"
    </script>
    <script src="{% static '/Notebook/js/directory_new.js' %}"></script>
    <!--/JS导入区-->
</body>
</html>