{% if dir.first_child %}
    <div class="list-group-item d-flex justify-content-between">
        <span class="col-11"><i class="bi bi-journal-text "></i> {{ dir.name }} </span>
        <a href="#choiceGroupOfDir{{dir.id}}" data-bs-toggle="collapse" class="text-body bi bi-caret-down-fill"></a>
    </div>
    <ul id="choiceGroupOfDir{{dir.id}}" class="ps-3 list-group list-group-flush collapse">
        {% if dir.first_child == dir_to_move %}
            <div class="list-group-item d-flex justify-content-between">
                <span class="col-12"><i class="bi bi-journal-bookmark-fill"></i> {{ dir_to_move.name }} <span class="text-danger">*当前所在位置*</span></span>
            </div>
            {% if dir_to_move.next_brother %}
                {% include 'Notebook/directory/notelist_move_dir.html' with dir=dir_to_move.next_brother %}
            {% endif %}
        {% else %}
            <!-- 已有子目录，夹在父目录和子目录中间 -->
            <a href="{% url 'api_Notebook_move_directory' dir_to_move.id dir.id dir.first_child.id 0 %}" class="list-group-item list-group-item-action d-flex justify-content-start move-dir" style="height: 18px;">
                <i class="bi bi-arrow-bar-right align-self-center" style="font-size: 0.75rem;"></i>
            </a>
            {% include 'Notebook/directory/notelist_move_dir.html' with dir=dir.first_child %}
        {% endif %}
    </ul>
{% else %}
    <div class="list-group-item d-flex justify-content-between">
        <span class="col-11"><i class="bi bi-journal-text "></i> {{ dir.name }} </span>
        <a href="#choiceGroupOfDir{{dir.id}}" data-bs-toggle="collapse" class="text-body bi bi-caret-down-fill"></a>
    </div>
    <ul id="choiceGroupOfDir{{dir.id}}" class="ps-3 list-group list-group-flush collapse">
        <!-- 目标目录无子目录，作为它的子目录 -->
        <a href="{% url 'api_Notebook_move_directory' dir_to_move.id dir.id 0 1 %}" class="list-group-item list-group-item-action d-flex justify-content-start move-dir" style="height: 18px;">
            <i class="bi bi-arrow-bar-right align-self-center" style="font-size: 0.75rem;"></i>
        </a>
    </ul>
{% endif %}
{% if dir.next_brother %}
    {% if dir.next_brother == dir_to_move %}
        <div class="list-group-item d-flex justify-content-between">
            <span class="col-12"><i class="bi bi-journal-bookmark-fill "></i> {{ dir_to_move.name }} <span class="text-danger">*当前所在位置*</span></span>
        </div>
        {% if dir_to_move.next_brother %}
            {% include 'Notebook/directory/notelist_move_dir.html' with dir=dir_to_move.next_brother %}
        {% endif %}
    {% else %}
        <!-- 夹在两个兄弟目录中间 -->
        <a href="{% url 'api_Notebook_move_directory' dir_to_move.id dir.id dir.next_brother.id 0 %}" class="list-group-item list-group-item-action d-flex justify-content-start move-dir" style="height: 18px;">
            <i class="bi bi-arrow-bar-right align-self-center" style="font-size: 0.75rem;"></i>
        </a>
        {% include 'Notebook/directory/notelist_move_dir.html' with dir=dir.next_brother %}
    {% endif %}
{% else %}
    <!-- 作为最结尾处的新兄弟目录 -->
    <a href="{% url 'api_Notebook_move_directory' dir_to_move.id dir.id 0 0 %}" class="list-group-item list-group-item-action d-flex justify-content-start move-dir" style="height: 18px;">
        <i class="bi bi-arrow-bar-right align-self-center" style="font-size: 0.75rem;"></i>
    </a>
{% endif %}