<a href="{% url 'Notebook_note_detail' note.id %}" class="list-group-item list-group-item-action border_theme">
    <div class="col">
        <strong class="col align-self-center">{{ note.title }}</strong>
        {% if note.content|striptags|cut:note.title|length > 20 %}
            <span class="text-secondary">{{ note.content|striptags|cut:note.title|truncatechars:20 }}...</span>
        {% else %}
            <span class="text-secondary">{{ note.content|striptags|cut:note.title }}</span>
        {% endif %}
    </div>
    <div class="col">
        <small class="col align-self-center text-secondary">{{ note.editDate}}</small>
    </div>
</a>