目录：{{ directory.directory_name }}
<hr>
{% if notes %}
    {% for note in notes %}
        <div>笔记id：{{ note.note_id }}</div>
        <div><a href="{% url 'Notebook_note_detail' note.note_id%}">笔记id：{{ note.note_id }}</a></div>
        <div><a href="{% url 'Notebook_note_edit' note.note_id %}">编辑</a></div>
        <!-- 删除功能到时候用bootstrap的modal来做-->
        <div><a href="{% url 'api_Notebook_note_delete' note.note_id %}">删除</a></div>
        <hr>
        {% endfor %}
{% endif %}

<!--用modal-->
<div><a href="">新增笔记</a></div>
<div><a href="">删除该目录</a></div>