<a href="{% url 'Notebook_note_detail' note.note_id %}" class="list-group-item list-group-item-action border_theme">
    <div class="col">
        <strong class="col align-self-center">{{ note.note_title }}</strong>
        {% if note.note_content|striptags|cut:note.note_title|length > 20 %}
            <span class="text-secondary">{{ note.note_content|striptags|cut:note.note_title|truncatechars:20 }}...</span>
        {% else %}
            <span class="text-secondary">{{ note.note_content|striptags|cut:note.note_title }}</span>
        {% endif %}
    </div>
    <div class="col">
        <small class="col align-self-center text-secondary">{{ note.note_editDate}}</small>
    </div>
</a>