<a href="{% url 'Notebook_note_detail' note.id %}" class="list-group-item list-group-item-action border_theme d-flex justify-content-between">
    <div>
        <div class="col">
            <strong class="col align-self-center">{{ note.title }}</strong>
        </div>
        <div class="col">
            <small class="col align-self-center edit-date">{{ note.editDate}}</small>
        </div>
    </div>
    <div>
        {% if note.isPending %}
            <i class="bi bi-cone-striped pending align-self-center me-2" data-bs-toggle="tooltip" data-bs-placement="left" title="待编辑" style="font-size: 1.8rem;"></i>
        {% endif %}
        {% if note.isPinTop %}
            <i class="bi bi-pin-fill pin-top" data-bs-toggle="tooltip" data-bs-placement="left" title="置顶" style="font-size: 1.8rem;"></i>
        {% endif %}
    </div>
</a>