{% extends "base.html" %}
{% load static %}

{% block title %}主页{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row text-center">
        <h2>拾心咖啡馆<small> v0.1</small></h2>
    </div>
    <div class="row">
        <p>欢迎光临。</p>
        <p><small class="text-secondary">Welcome to <strong>Roy's Cafe</strong>.</small></p>
        <p>本站点为哲予（<a href="mailto:larysing@outlook.com">larysing@outlook.com）</a>的个人站点，目前处于边开发边使用的状态。有任何问题请邮件联系。</p>
        <p><small class="text-secondary">This is a personal blog site belonging to Roy Coya (<a href="mailto:larysing@outlook.com">larysing@outlook.com)</a>. It's still building and also be in use by Roy and his friends at the same time. Got any question about this site, just send a mail please.</small></p>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <a class="list-group-item list-group-item-action" href="{% url 'Notebook_index_unedit_notes' %}"><strong class="text-success">笔记库（可用）</strong></a>
                <a class="list-group-item list-group-item-action disabled" href="#">生命流（不可用）</a>
                <a class="list-group-item list-group-item-action disabled" href="#">成就树（不可用）</a>
                <a class="list-group-item list-group-item-action disabled" href="#">资源库（不可用）</a>
                <a class="list-group-item list-group-item-action disabled" href="#">杂物间（不可用）</a>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-bottom border-top text-center">
    <div class="row">
        <small class="text-secondary ">
            备案号：<a href="https://beian.miit.gov.cn/">渝ICP备19014188号-1</a>
        </small>
    </div>
</div>
{% endblock %}