<h3 class="text-center">
    自动收支
</h3>
<div class="pb-3 row mx-0 mt-3">
    开发中……
    {% comment %} <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-primary col-12">
            <span class="spinner-grow spinner-grow-sm text-success" role="status"></span>
            舰长收入
        </button>
    </div>
    <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-primary col-12">
            <span class="spinner-grow spinner-grow-sm text-success" role="status"></span>
            卖皮鼓
        </button>
    </div>
    <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-primary col-12">
            <span class="spinner-grow spinner-grow-sm text-warning" role="status"></span>
            宽带费
        </button>
    </div>
    <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-primary col-12">
            <span class="spinner-grow spinner-grow-sm text-warning" role="status"></span>
            方舟月卡
        </button>
    </div>
    <div class="col-12 text-end text-secondary">
        更多 >>>
    </div> {% endcomment %}
</div>