<!-- 快捷方式 -->
<h3 class="text-center mb-3">
    快捷方式
</h3>
<div class="pb-3 row mx-0">
    开发中……
    {% comment %} <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-warning col-12">100¥ 话费</button>
    </div>
    <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-warning col-12">50¥ 话费</button>
    </div>
    <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-warning col-12">10¥ 话费</button>
    </div>
    <div class="col-6 ps-2 pe-2 mb-3">
        <button type="button" class="btn btn-outline-warning col-12">5¥ 话费</button>
    </div>
    <div class="col-12 text-end text-secondary">
        更多 >>>
    </div> {% endcomment %}
</div>