{% extends "Notebook/base.html" %}
{% load static %}
{% block title_notebook %}主页{% endblock title_notebook%}

{% block content_notebook %}
<div class="container mt-3">
    <div class="row text-center">
        <h2>笔记库</h2>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col">
            <i class="bi bi-inboxes text-success"></i>
            <a class="text-success" href="{% url 'Notebook_directory' %}">总目录</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <i class="bi bi-cone-striped text-warning"></i>待编辑笔记
            <ul class="list-group">
                
            </ul>
        </div>
    </div>
</div>
{% endblock content_notebook %}