{% extends "employee_room.html" %}
{% load static %}

{% block title %}
{% block title_life_stream %}{% endblock title_life_stream %} | 生命线
{% endblock title %}

{% block css_employee_room %}
{% block css_life_stream %}{% endblock css_life_stream %}
{% endblock css_employee_room %}

{% block content_employee_room %}
{% block content_life_stream %}{% endblock content_life_stream %}
{% endblock content_employee_room %}

{% block js_employee_room %}
{% block js_life_stream %}{% endblock js_life_stream %}
{% endblock js_employee_room %}

{% block active_life_stream %}text-danger{% endblock active_life_stream %}