/* list-group 的 item 在没有focus和hover时为主题色（特殊标识则为其自己的颜色），无背景。focus和hover时转为背景主题色文字白色 */
.list-group-item{border: 1px solid rgb(0, 124, 77);}
.list-group-item-action a{color: rgb(25, 27, 30);text-decoration: none;}
.list-group-item-action i{color: rgb(0, 124, 77);}
.list-group-item-action .edit-date{color: rgb(89, 98, 106);}
.list-group-item-action .pin-top{color: rgb(208, 30, 54);}
.list-group-item-action .pending{color: rgb(0, 124, 77);}
.list-group-item-action:focus, .list-group-item-action:hover{color:white;background-color: rgb(0, 124, 77);}
.list-group-item-action:focus, .list-group-item-action:hover a{color:white;}
.list-group-item-action:focus, .list-group-item-action:hover i{color:white;}
.list-group-item-action:focus, .list-group-item-action:hover .edit-date{color:white;}