{% if notes_pintop or notes_not_pintop %}
    <div class="mt-3 row d-flex justify-content-between">
        <div class="col">
            <h4>
                笔记
                <!-- 笔记过多时显示计数 -->
                {% with lengthof_notes_not_pintop=notes_not_pintop|length %}
                    {% with lengthof_all_note=notes_pintop|length|add:lengthof_notes_not_pintop %}
                        {% if lengthof_all_note >= 15 %}
                            （共{{lengthof_all_note}}条）
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            </h4>
        </div>
        <div class="text-success col text-end">
            <a href="{% url 'Notebook_note_new' directory.id %}" class="bi bi-pencil-square"> 新增笔记</a>
        </div>
    </div>
    <!-- 显示置顶的笔记 -->
    <div class="row mt-3">
        <div class="col">
            <ul class="list-group shadow">
                {% for note in notes_pintop %}
                    {% include 'Notebook/directory/specific/content/note_list.html' with note=note %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- 显示非置顶的笔记 -->
    <div class="row mt-3">
        <div class="col">
            <ul class="list-group shadow">
                {% for note in notes_not_pintop %}
                    {% include 'Notebook/directory/specific/content/note_list.html' with note=note %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <h4 class="mt-3 row"><span class="col">笔记</span></h4>
    <div class="row mt-3">
        <small class="text-secondary text-center col mt-2 mb-2">
            无笔记，
            <a href="{% url 'Notebook_note_new' directory.id %}">点击此处创建</a>
        </small>
    </div>
{% endif %}