{% load notebook_global_tags %}
<a href="{% url 'Notebook_note_detail' note.id 0 %}" class="list-group-item list-group-item-action border_theme d-flex justify-content-start">
    <div class="col-1 text-center">
        <i class="bi bi-file-earmark-richtext" style="font-size:2.1rem"></i>
    </div>
    <div class="col">
        <div class="ms-2">
            <strong class="col">{{ note.title }}</strong>
        </div>
        <span class="col edit-date ms-2"><small>
            {{ note.editDate}} {{ note.editDate|weekday}}
        </small></span>
    </div>
    <div class="col-3 text-end">
        {% if note.isUnfinished %}
            <i class="bi bi-tools pending align-self-center me-1" style="font-size: 1.8rem;"></i>
        {% endif %}
        {% if note.isPinTop %}
            <i class="bi bi-capslock pin-top me-1 align-self-center" style="font-size: 1.8rem;"></i>
        {% endif %}
    </div>
</a>