<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,,user-scalable=no">
    <title>{% block block_title %}{% endblock %} | Roy's Cafe</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static '/img/apple_icon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static '/img/apple_icon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static '/img/apple_icon.ico' %}"/>
    <!--css导入区-->
    {% block block_css %}
    {% endblock %}
    <!--/css导入区-->
</head>
<body class="bg-light">
    <!--正文区-->
    {% block block_content %}
    {% endblock %}
    <!--/正文区-->

    <!--JS导入区-->
    {% block block_js %}
    {% endblock %}
    <!--/JS导入区-->
</body>
</html>