<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,,user-scalable=no">
    <title>{% block title %}{% endblock %} | Roy's Cafe</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static '/img/apple_icon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static '/img/apple_icon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static '/img/apple_icon.ico' %}"/>
    <!--css导入区-->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-icons/bootstrap-icons.css' %}">
    {% block css %}
    {% endblock %}
    <!--/css导入区-->
</head>
<body class="bg-light">

    <!--正文区-->
    {% block content %}
    {% endblock %}
    <!--/正文区-->

    <!--JS导入区-->
    <script src="{% static '/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/bootstrap/js/popover.js' %}"></script>
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block js %}
    {% endblock %}
    <!--/JS导入区-->
</body>
</html>