{% extends "Notebook/base.html" %}
{% load static %}

{% block title %}编辑：{{ note.title}}{% endblock title %}

{% block css_notebook %}
<link rel="stylesheet" href="{% static '/wangeditor/wangeditor.min.css' %}">
{% endblock css_notebook %}

{% block content_notebook %}
<div class="sticky-top bg-light border-bottom">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-light">
                <a href="{% if is_from_homepage %}{% url 'Notebook_homepage' %}{% else %}{% url 'Notebook_note_detail' note.id %}{% endif %}" 
                class="col-2 text-start ps-2">
                    <i class="text-success bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                </a>
                <span class="col-8 h5 text-center" style="margin: 0px;">
                    <i class="text-success bi bi-pencil-square" style="font-size: 1.3rem;"></i>
                    {{ note.title }}
                </span>
                <a id="save" href="#" class="col-2 text-end pe-2">
                    <i class="text-success bi bi-check-circle" style="font-size: 1.5rem;"></i>
                </a>
            </nav>
        </div>
    </div>
    <div id="toolbar_container" class="border-top"></div>
</div>

<div>
    <div id="editor_container" class="container" style="min-height: 58px;border-bottom: 1px dotted rgb(0, 124, 77);"></div>
</div>

<form id="form_note" class="invisible" method="post" style="height: 50%;">
    {% csrf_token %}
    <textarea name="note_content_edited" id="note_content"></textarea>
</form>
{% endblock content_notebook %}

{% block js_notebook %}
<script src="{% static '/wangeditor/wangeditor.min.js' %}"></script>
<script>
    note_content = `{{ note.content|escape }}`
    url_api_note_save = "{% url 'api_Notebook_note_save' note.id  %}"
    url_note_detail = "{% url 'Notebook_note_detail' note.id %}"
    url_api_Notebook_wangeditor_upload_img = "{% url 'api_Notebook_note_upload_img' note.id %}"
    url_api_Notebook_wangeditor_upload_video = "{% url 'api_Notebook_note_upload_video' note.id %}"
</script>
<script src="{% static '/Notebook/js/note/edit.js' %}"></script>
{% endblock js_notebook %}

<!-- 编辑时禁用底部导航跳转 -->
{% block life_stream %}#{% endblock life_stream %}
{% block project_board %}#{% endblock project_board %}
{% block notebook %}#{% endblock notebook %}
{% block achievement_net %}#{% endblock achievement_net %}