{% extends "Notebook/base.html" %}
{% load static %}

{% block title_notebook %}新增笔记 | 目录：{{ directory.name }}{% endblock title_notebook %}

{% block css_notebook %}
<link rel="stylesheet" href="{% static '/wangeditor/wangeditor.min.css' %}">
{% endblock css_notebook %}

{% block content_notebook %}
<div class="sticky-top bg-light border-bottom">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-light">
                <a href="{% url 'Notebook_directory_specific' directory.id %}" class="col-2 text-start ps-2">
                    <i class="text-success bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                </a>
                <span class="col-8 h5 text-center" style="margin: 0px;">
                    <i class="text-success bi bi-pencil-square" style="font-size: 1.3rem;"></i>
                    新笔记
                </span>
                <a id="save" href="#" class="col-2 text-end pe-2">
                    <i class="text-success bi bi-check-circle" style="font-size: 1.5rem;"></i>
                </a>
            </nav>
        </div>
    </div>
    <div id="toolbar_container" class="border-top"></div>
</div>

<div>
    <div id="editor_container" class="container" style="min-height: 58px;border-bottom: 1px dotted rgb(0, 124, 77);"></div>
</div>

<form id="form_note" class="invisible" method="post">
    {% csrf_token %}
    <textarea name="note_content" id="note_content"></textarea>
</form>
{% endblock content_notebook %}

{% block js_notebook %}
<script src="{% static '/wangeditor/wangeditor.min.js' %}"></script>
<script>
    url_api_note_new_save = `{% url 'api_Notebook_note_new' directory.id %}`
    url_api_Notebook_wangeditor_upload_img = "{% url 'api_Notebook_wangeditor_upload_img' %}"
    url_api_Notebook_wangeditor_upload_video = "{% url 'api_Notebook_wangeditor_upload_video' %}"
</script>
<script src="{% static '/Notebook/js/note/new.js' %}"></script>
{% endblock js_notebook %}

<!-- 编辑时禁用底部导航跳转 -->
{% block life_stream %}#{% endblock life_stream %}
{% block project_board %}#{% endblock project_board %}
{% block notebook %}#{% endblock notebook %}
{% block achievement_net %}#{% endblock achievement_net %}