{% extends "Notebook/base.html" %}
{% load static %}

{% block title_notebook %}总目录{% endblock title_notebook %}

{% block content_notebook %}
<!-- 顶部工具栏 -->
<div class="sticky-top bg-light border-bottom">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-light ">
                <a href="{% url 'Notebook_homepage' %}" class="col-2 text-start ps-2">
                    <i class="text-success bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                </a>
                <span class="col-8 h5 text-center" style="margin: 0px;">
                    <i class="text-success bi bi-journals" style="font-size: 1.3rem;"></i>
                    总目录
                </span>
                <span class="col-2 text-end pe-2"></span>
            </nav>
        </div>
    </div>
</div>

<!-- 目录树 -->
{% include 'Notebook/directory/tree/tree.html' %}
{% include 'Notebook/directory/tree/new_directory.html' %}

{% endblock content_notebook %}

{% block js_notebook %}
<script src="{% static '/Notebook/js/directory/tree.js' %}"></script>
{% endblock js_notebook %}