{% extends 'base.html' %}
{% load static %}

{% block title %}
{% block title_notebook %}{% endblock title_notebook %} | 笔记库
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/Notebook/css/theme.css' %}">
{% block css_notebook %}{% endblock css_notebook %}
{% endblock css %}

{% block content %}
<div class="mb-5 pb-5">
    {% block content_notebook %}{% endblock content_notebook %}
</div>
{% endblock content %}

{% block js %}
{% block js_notebook %}{% endblock js_notebook %}
{% endblock js %}