{% extends "base.html" %}
{% load static %}
{% block block_title %}笔记库{% endblock %}

{% block block_css %}
<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css/' %}">
<link rel="stylesheet" href="{% static '/bootstrap-icons/bootstrap-icons.css' %}">
{% endblock %}

{% block block_content %}
<div class="container mt-3">
    <div class="row text-center">
        <h2>笔记库</h2>
    </div>
    <div class="row">
        <p>欢迎使用笔记库，<strong class="text-success">{{ user.username }}</strong>。</p>
        <p>这是你的笔记库个人主页，可以设置某些笔记的快捷入口、操作的快捷入口等。但是目前还没做，摸了。</p>
        <p><a class="text-success" href="{% url 'Notebook_directory' %}">点击进入笔记库总目录</a>以开始使用。</p>
    </div>
    <div class="row">
        <p>或</p>
        <a href="{% url 'logout' %}">退出登录</a>
    </div>
</div>
{% endblock %}

{% block block_js %}
<script src="{% static '/jquery/jquery.min.js/' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
