{% extends 'base.html' %}
{% load static %}

{% block title %}
电影排名
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="mb-5 pb-5 container">
    <div class="sticky-top bg-light border-bottom">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-light ">
                    <a
                    href="{% url 'RoddyCafe_lobby' %}"
                    class="col-2 text-start ps-2">
                        <i class="text-primary bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
                    </a>
                    <span class="col-8 h4 text-center text-break" style="margin: 0px;">
                        {{type_in_Chinese}}排名
                    </span>
                    <span class="col-2"></span>
                </nav>
            </div>
        </div>
    </div>

    <div class="input-group">
        <span class="input-group-text">当前表单</span>
        <select id="rank_type" class="form-select">
            <option value="movie">电影</option>
            <option value="anime">番剧</option>
            <option value="book">图书</option>
        </select>
    </div>

    <hr/>

    <form class="mb-3" enctype="multipart/form-data" action="{% url 'api_Ranking_add_item' %}" method="post">
        {% csrf_token %}
        <div class="input-group mt-3">
            <span class="input-group-text"><span class="text-primary">*</span>排名</span>
            <input name="rank" type="number" class="form-control" placeholder="排名" required onkeyup="value=value.replace(/[^\d\.]/g,'');if(value<1) value=1;if(value>{{rank_items|length}}+1)value={{rank_items|length}}+1;">
            <span class="input-group-text"><span class="text-primary">*</span>{{type_in_Chinese}}名</span>
            <input name="name" type="text" class="form-control" placeholder="{{type_in_Chinese}}名" required>
            <input name="type" type="hidden" value="{{type}}" class="form-control" required>
        </div>
        <div class="input-group mt-1 mb-3">
            <span class="input-group-text">封面图</span>
            <input name="poster" type="file" class="form-control">
        </div>
        <textarea name="remarks" class="form-control mb-2" rows="3" placeholder="评价"></textarea>
        <div class="text-end">
            <button class="btn btn-outline-primary" type="submit">新增{{type_in_Chinese}}</button>
        </div>
    </form>
    
    <hr/>

    <div class="text-center text-secondary"><small>共 {{rank_items|length}} 项</small></div>
    {% for rank_item in rank_items %}
        <div class="card border-primary mb-3 mt-2">
            <a class="card-header" href="#" data-bs-toggle="collapse" data-bs-target="#rank_item_{{forloop.counter}}">
                <span class="h4 text-dark">{{forloop.counter}}.《{{rank_item.name}}》</span>
            </a>
            <div class="card-body row collapse" id="rank_item_{{forloop.counter}}">
                <div class="col-5 border-end border-primary text-center">
                    {% if rank_item.poster %}
                        <img src="/userfile/{{rank_item.poster}}" class="img-fluid">
                    {% else %}
                        <a href="#" class="text-secondary"><small>无封面图，点击上传（还没做）</small></a>
                    {% endif %}
                </div>
                <div class="col-7">
                    <strong class="text-primary">评价：</strong>
                    {% if rank_item.remarks %}{{rank_item.remarks|linebreaks}}{% else %}<p>无</p>{% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block js %}
<script>
    var type = "{{type}}"
    var url_change_rank_type = "{% url 'Ranking_index' %}?type="
</script>
<script src="{% static '/Ranking/js/index.js' %}"></script>
{% endblock js %}