{% extends "employee_room.html" %}
{% load static %}

{% block title %}
{% block title_achievement_net %}{% endblock title_achievement_net %} | 我的
{% endblock title %}

{% block css_employee_room %}
{% block css_achievement_net %}{% endblock css_achievement_net %}
{% endblock css_employee_room %}

{% block content_employee_room %}
{% block content_achievement_net %}{% endblock content_achievement_net %}
{% endblock content_employee_room %}

{% block js_employee_room %}
{% block js_achievement_net %}{% endblock js_achievement_net %}
{% endblock js_employee_room %}

{% block achievement_net_color %}text-warning{% endblock achievement_net_color %}